body{
  background-color: lightgrey;
}

.fa{
  color: rgb(61, 61, 177)
}
a{
  text-decoration: underline;
  color:rgb(47, 47, 119);
}
.box-part{
  background-color: white;
  text-align: center;
 margin: 20px 0px;
padding: 60px 0px;
}
p{
  margin: 20px 0px;
}

.box{
  padding: 60px 0px;
}
